/* Root Variables */
:root {
  --pre: #f8f4e1;
  --sec: #4e1f00;
  --tri1: #feba17;
  --tri2: #74512d;
}

/* Font Setup */
@font-face {
  font-family: aeonik;
  font-weight: 200;
  src: url(./Fonts/AeonikTRIAL-Light.otf);
}

@font-face {
  font-family: aeonik;
  font-weight: 500;
  src: url(./Fonts/AeonikTRIAL-Regular.otf);
}

@font-face {
  font-family: aeonik;
  font-weight: 700;
  src: url(./Fonts/AeonikTRIAL-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  height: 100%;
  width: 100%;
  background-color: #111;
}
