:root {
  --pri: #f8f4e1;
  --sec: #381c0a;
  --tri1: #feba17;
  --tri2: #74512d;
  --red: red;
  --green: rgb(9, 138, 89);
  --blue: rgb(0, 191, 255);
  --black: black;
}

@font-face {
  font-family: aeonik;
  font-weight: 200;
  src: url(./Fonts/AeonikTRIAL-Light.otf);
}

@font-face {
  font-family: aeonik;
  font-weight: 500;
  src: url(./Fonts/AeonikTRIAL-Regular.otf);
}

@font-face {
  font-family: aeonik;
  font-weight: 700;
  src: url(./Fonts/AeonikTRIAL-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: aeonik;
  color: var(--pri);
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 120%;
  width: 100%;
  padding-top: 100px;
  background-color: var(--sec);
}

section.allElems {
  height: 100%;
  width: 100%;
  padding: 30px 40px;
  overflow: auto;
  position: absolute;
}

.allElems header {
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1717361279773-b2e7ee713d2e?q=80&w=3869&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

header .header1 h1 {
  font-size: 55px;
  font-weight: 700;
  margin-bottom: 50px;
}

header .header1 h2 {
  font-size: 30px;
  font-weight: 500;
}

header .header1 h4 {
  font-weight: 500;
  font-size: 30px;
}

header .header2 h2 {
  font-weight: 700;
  font-size: 60px;
}

header .header2 h4 {
  font-weight: 500;
  margin-top: -10px;
  margin-bottom: 40px;
  font-size: 30px;
}

header .header2 h3 {
  font-weight: 500;
  font-size: 20px;
  opacity: 0.8;
}

.allElems .allFeatures {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 22px;
}

.allElems::-webkit-scrollbar {
  display: none;
}

.elem {
  height: 320px;
  width: 270px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: all ease 0.2s;
  cursor: pointer;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.elem h2 {
  position: absolute;
  bottom: 4%;
  font-weight: 500;
  font-size: 30px;
  right: 5%;
}

.elem:active {
  scale: 0.97;
}

.fullElem {
  height: 100%;
  width: 100%;
  background-color: var(--sec);
  padding: 40px;
  display: none;
  position: absolute;
  top: 0;
  z-index: 999;
}

.back {
  position: absolute;
  right: 5%;
  background-color: var(--red);
  border-radius: 10px;
  padding: 10px 15px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.back:active {
  scale: 0.97;
}

.todo-list-fullpage h2 {
  font-size: 35px;
}

.todo-list-fullpage .todo-container {
  height: 70%;
  width: 100%;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-list-fullpage .todo-container .addTask {
  width: 33%;
  background-color: var(--tri2);
  height: 100%;
  border-radius: 20px;
}

.todo-list-fullpage .todo-container .addTask form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.todo-container .addTask form #task-input {
  padding: 10px 18px;
  width: 100%;
  font-size: 20px;
  border-radius: 5px;
  background-color: var(--pri);
  color: var(--sec);
  border: none;
  outline: none;
  margin-bottom: 10px;
  font-weight: 500;
}

.todo-container .addTask form textarea {
  padding: 10px 18px;
  width: 100%;
  font-size: 20px;
  background-color: var(--pri);
  color: var(--sec);
  border-radius: 5px;
  font-weight: 500;
  border: none;
  outline: none;
  margin-bottom: 10px;
}

.todo-container .addTask form button {
  padding: 10px 20px;
  width: 100%;
  font-size: 20px;
  background-color: var(--tri1);
  border-radius: 5px;
  border: none;
  font-weight: 700;
  outline: none;
  transition: all ease 0.3s;
}

.todo-container .addTask form button:active {
  scale: 0.96;
}

.todo-list-fullpage .todo-container .allTask {
  width: 65%;
  background-color: var(--tri2);
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  overflow: auto;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--pri);
  padding: 20px 30px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.task h5 {
  color: var(--sec);
  font-size: 30px;
  display: flex;
  align-items: flex-start;
  gap: 5px;
}

.task h5 span {
  background-color: var(--red);
  color: var(--pri);
  padding: 4px 8px;
  border-radius: 50px;
  font-size: 11px;
}

.task h5 span.true {
  opacity: 1;
}

.task h5 span.false {
  opacity: 0;
}

.task button {
  padding: 15px 30px;
  color: var(--pri);
  background-color: var(--green);
  font-size: 18px;
  border-radius: 5px;
  border: none;
  font-weight: 600;
}

.task button:active {
  scale: 0.96;
}

.mark-imp {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 10px;
  margin-bottom: 20px;
  width: 100%;
  gap: 30px;
}

.mark-imp input {
  scale: 1.7;
}

.mark-imp label {
  font-size: 21px;
}

.daily-planner-fullpage h2 {
  font-size: 40px;
}

.daily-planner-fullpage .day-planner {
  background-color: var(--tri2);
  height: 85%;
  margin-top: 40px;
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  overflow: auto;
  justify-content: space-between;
}

.daily-planner-fullpage .day-planner .day-planner-time {
  display: flex;
  align-items: center;
  position: relative;
  width: 49%;
  margin-bottom: 15px;
}

.day-planner .day-planner-time p {
  position: absolute;
  top: 12%;
  left: 2%;
  color: var(--tri1);
  font-size: 15px;
}

.day-planner .day-planner-time input {
  padding: 20px 45px;
  width: 100%;
  background-color: var(--sec);
  border-radius: 5px;
  border: none;
  font-size: 25px;
  padding-top: 34px;
  outline: none;
}

.motivation-fullPage-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.motivational-fullpage .motivation-container {
  height: 600px;
  width: 70%;
  border-radius: 50px;
  position: relative;
}

.motivational-fullpage .motivation-container::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: var(--tri1);
  border-radius: 50px;
  scale: 1.15;
  filter: blur(100px);
  z-index: 8;
}

.motivational-fullpage .motivation-container .motivation-wrapper {
  z-index: 10;
  position: absolute;
  width: 100%;
  background-color: var(--tri1);
  padding: 20px;
  border-radius: 30px;
  border: 6px solid var(--tri2);
}

.motivation-1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.motivation-1 h2 {
  background-color: var(--tri2);
  padding: 30px;
  border-radius: 20px;
  font-size: 25px;
  width: fit-content;
  font-weight: 500;
  text-align: right;
}

.motivation-2 {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 30px;
}

.motivation-2 h1 {
  font-size: 65px;
  font-weight: 700;
  color: var(--sec);
}

.motivation-3 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.motivation-3 h2 {
  background-color: var(--tri2);
  padding: 30px;
  border-radius: 20px;
  font-size: 40px;
  width: fit-content;
  font-weight: 500;
  text-align: right;
}

.motivational-fullpage .motivation-container .motivation-wrapper img {
  position: absolute;
  right: 5%;
  opacity: 0.2;
  top: 5%;
  height: 120px;
}

.pomodoro-fullpage h2 {
  font-size: 50px;
}

.pomodoro-fullpage .pomo-timer {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.pomo-timer h1 {
  font-size: 100px;
}

.pomo-timer button {
  background-color: var(--tri2);
  padding: 10px 20px;
  font-size: 25px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 7px 7px 0px var(--black);
  transition: all ease 0.1s;
  font-weight: 700;
}

.pomo-timer button:active {
  box-shadow: 0px 0px 0px var(--black);
}

.pomodoro-fullpage .session {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: var(--green);
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 5px;
}

nav {
  position: fixed;
  top: 0;
  z-index: 99;
  height: 30px;
  width: 100%;
  margin-bottom: 25px;
  padding: 25px 35px;
}

.nav-in {
  display: flex;
  background-color: var(--tri2);
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px;
  border-radius: 10px;
}

.nav-in h2 {
  font-size: 25px;
  font-weight: 700;
}

.theme {
  background-color: var(--pri);
  padding: 12px 20px;
  border-radius: 10px;
  transition: all ease 0.2s;
  cursor: pointer;
}

.theme h4 {
  color: var(--sec);
  font-weight: 700;
  font-size: 20px;
  pointer-events: none;
}

.theme:active {
  scale: 0.96;
}

/* Responsiveness Code */

@media screen and (max-width: 1024px) {
  #main {
    height: auto;
    min-height: 100vh;
    padding-top: 100px;
    padding-bottom: 40px;
  }

  section.allElems {
    position: relative;
    height: auto;
    overflow: visible;
    padding: 20px;
  }

  .fullElem {
    position: fixed;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding: 80px 20px 40px 20px;
  }
}

@media screen and (max-width: 600px) {
  nav {
    padding: 10px 15px;
    position: fixed;
    width: 100%;
  }

  .nav-in {
    padding: 10px 15px;
  }

  .nav-in h2 {
    font-size: 18px;
  }

  .theme {
    padding: 8px 12px;
  }

  .theme h4 {
    font-size: 14px;
  }
}

@media screen and (max-width: 900px) {
  .allElems header {
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 20px;
    background-position: left;
    height: auto;
  }

  header .header1,
  header .header2 {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
  }

  header .header1 h1 {
    font-size: 40px;
    margin-bottom: 10px;
    line-height: 1.1;
  }

  header .header2 h2 {
    font-size: 32px;
    line-height: 1.2;
  }

  header .header2 h4 {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 600px) {
  .allElems .allFeatures {
    justify-content: center;
    gap: 20px;
    padding-bottom: 50px;
  }

  .elem {
    width: 100%;
    height: 250px;
  }

  .elem h2 {
    font-size: 24px;
    bottom: 15px;
    right: 15px;
  }
}

@media screen and (max-width: 900px) {
  .todo-list-fullpage .todo-container {
    flex-direction: column;
    height: auto;
    gap: 30px;
  }

  .todo-list-fullpage .todo-container .addTask {
    width: 100%;
    height: auto;
    padding: 20px;
  }

  .todo-container .addTask form #task-input,
  .todo-container .addTask form textarea {
    font-size: 16px;
    padding: 15px;
  }

  .todo-list-fullpage .todo-container .allTask {
    width: 100%;
    height: auto;
    min-height: 400px;
    padding: 15px;
  }

  .task {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding: 15px;
  }

  .task h5 {
    font-size: 20px;
    line-height: 1.3;
  }

  .task button {
    width: 100%;
    padding: 12px;
  }
}

@media screen and (max-width: 768px) {
  .daily-planner-fullpage .day-planner {
    flex-direction: column;
    height: auto;
    overflow: visible;
    padding: 10px;
  }

  .daily-planner-fullpage .day-planner .day-planner-time {
    width: 100%;
    margin-bottom: 20px;
  }

  .day-planner .day-planner-time input {
    font-size: 18px;
    padding: 35px 20px 15px 20px;
  }

  .day-planner .day-planner-time p {
    top: 10px;
    left: 20px;
    font-size: 12px;
  }
}

@media screen and (max-width: 900px) {
  .motivational-fullpage .motivation-container {
    width: 100%;
    height: auto;
    min-height: 60vh;
    border-radius: 20px;
  }

  .motivational-fullpage .motivation-container .motivation-wrapper {
    position: relative;
    height: auto;
    padding: 20px 15px;
  }

  .motivation-1 {
    justify-content: center;
    margin-bottom: 20px;
  }

  .motivation-1 h2,
  .motivation-3 h2 {
    font-size: 18px;
    padding: 15px;
    text-align: center;
    width: 100%;
  }

  .motivation-2 {
    padding: 10px;
    margin: 20px 0;
  }

  .motivation-2 h1 {
    font-size: 32px;
    text-align: center;
    word-wrap: break-word;
  }

  .motivation-3 {
    justify-content: center;
  }

  .motivational-fullpage .motivation-container .motivation-wrapper img {
    height: 60px;
    top: 10px;
    right: 10px;
  }
}

@media screen and (max-width: 768px) {
  .pomodoro-fullpage .pomo-timer {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    margin-top: 100px;
    width: 100%;
  }

  .pomo-timer h1 {
    font-size: 80px;
    margin-bottom: 20px;
  }

  .pomodoro-fullpage .session {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    display: inline-block;
    margin: 0 auto 30px auto;
    width: fit-content;
  }

  .pomodoro-fullpage {
    padding-top: 30px;
  }
}